# 构建产物
build/
dist/
coverage/

# 依赖目录
node_modules/

# 打包文件
*.bundle.js
*.min.js

# 第三方库
public/vendor/

# 日志文件
*.log

# 环境配置文件
.env
.env.*
!.env.example

# 其他配置文件
package-lock.json
yarn.lock
pnpm-lock.yaml

# 旧版本备份文件
*.bak
*.backup

# 其他特殊文件
.DS_Store
Thumbs.db

Dockerfile