<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-icon name="apps" size="large" color="primary" [routerLink]="['/list']"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>

    <!--mora-->
    <!--<h3>要的结果</h3>-->

    <!--center-->
    <ion-card>
        <ion-img src="/assets/shapes.svg"></ion-img>
        <ion-card-header>
            <ion-card-subtitle>摇一摇，吃什么</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-icon name="hand"></ion-icon>
        </ion-card-content>
    </ion-card>

    <!--left bottom-->
    <!--<ion-icon name="notifications-outline" size="large" color="primary"></ion-icon>-->

    <!--img -->
</ion-content>


<ion-footer>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-icon name="notifications-outline" size="large" color="primary"></ion-icon>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-icon name="thumbs-up" size="large" color="warning"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>