<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-icon name="list" size="large" color="primary" [routerLink]="['/list']"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <div *ngIf="shakeResult.bean" class="animated bounceInUp">
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle> {{shakeResult.bean.tags}}</ion-card-subtitle>
                <ion-card-title>
                    <ion-toolbar>
                        <ion-buttons slot="start">
                            {{shakeResult.bean.title}}
                        </ion-buttons>
                        <ion-buttons slot="end">
                            <ion-icon [name]="shakeResult.mora | mora" size="large" color="tertiary"></ion-icon>
                        </ion-buttons>
                    </ion-toolbar>
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <p>
                    {{shakeResult.bean.description}}
                </p>
            </ion-card-content>
        </ion-card>
    </div>

    <ion-fab vertical="center" horizontal="center" slot="fixed">
        <ion-fab-button (click)="shake()">
            <ion-icon name="notifications" class="animated infinite bounce slower"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top" class="animated bounceInDown">
            <ion-fab-button>
                <ion-icon name="logo-apple"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="bottom" class="animated flip">
            <ion-fab-button>
                <ion-icon name="logo-android"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="start" class="animated bounceInRight">
            <ion-fab-button>
                <ion-icon name="logo-freebsd-devil"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="end" class="animated bounceInLeft">
            <ion-fab-button>
                <ion-icon name="logo-github"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button color="light">
            <ion-icon name="timer" color="primary"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="light">
            <ion-icon name="thumbs-up" color="warning"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
