<ion-content fullscreen>

    <ion-img src="/assets/shake.png"></ion-img>

    <div *ngIf="shakeResult.bean">
        <ion-card>

            <ion-card-header>
                <ion-card-title>
                    <ion-toolbar>
                        <ion-buttons slot="start">
                            {{shakeResult.bean.title}}
                        </ion-buttons>
                        <ion-buttons slot="end">
                            <ion-icon [name]="shakeResult.mora | moraicon" size="large" color="tertiary"></ion-icon>
                        </ion-buttons>
                    </ion-toolbar>
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <p>
                    {{shakeResult.bean.description}}
                </p>
            </ion-card-content>
        </ion-card>
    </div>

</ion-content>

<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-icon name="apps" size="large" color="primary" [routerLink]="['/list']"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-footer>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="shake()">
                <ion-icon name="notifications-outline" size="large" color="primary"></ion-icon>
            </ion-button>

        </ion-buttons>
        <ion-buttons slot="end">
            <ion-icon name="thumbs-up" size="large" color="warning"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>